{% extends 'base.html' %}

{% block content %}


    {% for article in category_list %}

        <div class="card w-50">
          <div class="card-body">
              <a href="{% url 'category_detail' article.pk %}">
            <h5 class="card-title">{{ article.title }}</h5>
              </a>
                <a class="btn btn-success" href="{% url 'category_update' article.pk%}">
                Update
                </a>
                <a class="btn btn-danger" href="{% url 'category_delete' article.pk%}">
                Delete
                </a>
          </div>
        </div><br/>

    {% endfor %}

{% endblock %}